@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Index</h1>
    <a href = '@Url.Action("SelectPaquete")'> Crear Paquete </a>

    @foreach (KeyValuePair<string, Paquete> art in ViewBag.Dccionario){

        


        
    }

  
</div>
